In [6]:
import pandas as pd

In [7]:
twitch_df = pd.read_csv('Dota2_twitchData.csv')
twitch_df.columns

Index(['Unnamed: 0', 'Month', 'Avg. viewers', 'Gain_viewers', '% Gain_viewers',
       'Peak_viewers', 'Avg. channels', 'Gain_channels', '% Gain_channels',
       'Peak_channels', 'Hours watched', 'Gain', '% Gain'],
      dtype='object')

In [8]:
twitch_df= twitch_df[['Month', 'Avg. viewers',
       'Peak_viewers', 'Avg. channels',
       'Peak_channels', 'Hours watched']]
twitch_df

,Month,Avg. viewers,Peak_viewers,Avg. channels,Peak_channels,Hours watched
0,2016-12-01,60318,429880,406,816,44697603
1,2017-01-01,52609,231683,485,864,38999161
2,2017-02-01,47704,218283,486,1063,32032305
3,2017-03-01,51574,326837,447,1228,38351474
4,2017-04-01,68133,671789,395,923,48683087
5,2017-05-01,46633,214920,423,866,33749481
6,2017-06-01,57690,337997,422,933,41510311
7,2017-07-01,32759,111086,433,829,24348583
8,2017-08-01,78716,845791,408,704,58528314
9,2017-09-01,40339,205329,419,718,29037850
10,2017-10-01,42529,282651,424,752,31625324
11,2017-11-01,55039,226905,476,829,39570151
12,2017-12-01,43441,293382,487,815,32298741
13,2018-01-01,41604,180197,551,912,30943285
14,2018-02-01,49001,292301,573,964,32880473
15,2018-03-01,53629,397089,566,1483,39900000
16,2018-04-01,55829,312498,558,1392,40125538
17,2018-05-01,52547,358946,574,1210,39073653
18,2018-06-01,66796,356896,584,1125,48087838
19,2018-07-01,38962,151364,592,1070,28414778
20,2018-08-01,93969,776473,591,1111,69729072
21,2018-09-01,41307,161992,599,1272,29725455
22,2018-10-01,47343,218915,607,1306,35160316
23,2018-11-01,64056,446424,644,1334,46120872
24,2018-12-01,44288,256425,626,1319,32950296
25,2019-01-01,62537,444684,735,1455,46527600
26,2019-02-01,74876,272704,786,1606,50317296
27,2019-03-01,67497,356083,757,1473,50174147
28,2019-04-01,41030,151550,626,1330,29541894
29,2019-05-01,62777,408908,660,1257,46677235
30,2019-06-01,59719,488088,612,1122,42997893
31,2019-07-01,55064,278633,620,1078,40956300
32,2019-08-01,95319,1041033,655,1171,70917942
33,2019-09-01,35933,127276,624,1273,25866572
34,2019-10-01,40409,176611,605,1215,28948981
35,2019-11-01,48397,243245,595,1273,33755989
36,2019-12-01,46050,204145,564,1068,34215092
37,2020-01-01,59260,368113,594,1056,44089989
38,2020-02-01,50361,236728,628,1182,34990696
39,2020-03-01,56289,166092,732,1485,41805652
40,2020-04-01,58387,104877,933,1470,4194239

In [10]:
reddit_df = pd.read_csv('aggregated_dota2_reddit_data.csv')
reddit_df = reddit_df.sort_values(by=['utc date'])
reddit_df.columns

Index(['utc date', 'score_sum', 'num comments_sum', 'score_mean',
       'num comments_mean', 'afinn_score_title_sum', 'afinn_score_text_sum',
       'afinn_score_title_mean', 'afinn_score_text_mean'],
      dtype='object')

In [11]:
reddit_df = reddit_df.rename(columns={'utc date':'Month'})
reddit_df

,Month,score_sum,num comments_sum,score_mean,num comments_mean,afinn_score_title_sum,afinn_score_text_sum,afinn_score_title_mean,afinn_score_text_mean
0,2016-01-31,699564,352982,31.701817,15.995922,1886.0,16158.0,0.117963,1.010633
1,2016-02-29,743728,347294,35.885549,16.757250,942.0,13410.0,0.062938,0.895971
2,2016-03-31,859074,391767,36.269273,16.540024,2008.0,18933.0,0.114625,1.080774
3,2016-04-30,786621,365690,33.911924,15.765218,2599.0,18593.0,0.149351,1.068440
4,2016-05-31,845393,363461,35.204173,15.135379,2337.0,16444.0,0.127322,0.895887
5,2016-06-30,958856,436017,33.242823,15.116385,5471.0,27925.0,0.254264,1.297811
6,2016-07-31,706553,323554,32.982588,15.103819,3201.0,23577.0,0.203976,1.502390
7,2016-08-31,1291536,546086,34.796347,14.712558,7744.0,34198.0,0.276739,1.222099
8,2016-09-30,807177,312634,40.214079,15.575628,2436.0,12224.0,0.167676,0.841410
9,2016-10-31,951449,317146,43.920463,14.639985,1339.0,16198.0,0.086060,1.041069
10,2016-11-30,773676,255775,47.604972,15.738063,2157.0,15751.0,0.192917,1.408729
11,2016-12-31,1432586,403745,37.565188,10.586978,3449.0,27252.0,0.121234,0.957925
12,2017-01-31,852871,277721,43.332537,14.110405,1362.0,9406.0,0.096180,0.664219
13,2017-02-28,665286,207339,43.265006,13.483709,1590.0,9064.0,0.146842,0.837089
14,2017-03-31,793611,252409,45.562694,14.491273,1797.0,10210.0,0.148011,0.840952
15,2017-04-30,859251,285348,47.654096,15.825412,1981.0,11353.0,0.159655,0.914974
16,2017-05-31,1168329,330772,49.932858,14.136764,2280.0,17036.0,0.136486,1.019814
17,2017-06-30,923993,286810,47.376968,14.705943,2154.0,13592.0,0.155501,0.981230
18,2017-07-31,975742,275747,52.974754,14.970791,2474.0,15840.0,0.191649,1.227051
19,2017-08-31,1611741,479146,53.466280,15.894709,6465.0,30736.0,0.311942,1.483040
20,2017-09-30,847022,239036,61.302888,17.300138,1394.0,9865.0,0.157942,1.117720
21,2017-10-31,987347,271155,57.244144,15.720953,2080.0,11180.0,0.183551,0.986587
22,2017-11-30,1157795,292998,59.343670,15.017837,2879.0,15287.0,0.220174,1.169088
23,2017-12-31,763335,215946,54.426738,15.397219,2003.0,11395.0,0.233124,1.326234
24,2018-01-31,787617,257003,55.859362,18.227163,1143.0,12265.0,0.130019,1.395177
25,2018-02-28,736921,242075,57.081410,18.750968,1178.0,13581.0,0.145038,1.672125
26,2018-03-31,1001330,280302,57.917173,16.212736,2308.0,19258.0,0.202812,1.692267
27,2018-04-30,906155,267995,63.670250,18.830453,1681.0,11375.0,0.192797,1.304622
28,2018-05-31,1233364,317234,53.217294,13.688039,1435.0,18669.0,0.094788,1.233173
29,2018-06-30,1133516,338133,53.266729,15.889709,3566.0,23606.0,0.251021,1.661692
30,2018-07-31,851574,235109,50.547516,13.955541,3003.0,10858.0,0.279635,1.011081
31,2018-08-31,1397746,451371,48.378305,15.622698,6741.0,34711.0,0.361642,1.862178
32,2018-09-30,843534,222839,63.543051,16.786365,1868.0,11046.0,0.229146,1.355005
33,2018-10-31,11661,182009,1.000772,15.620409,945.0,7827.0,0.146014,1.209363
34,2018-11-30,17740,280324,1.024486,16.188727,341.0,7787.0,0.033346,0.761490
35,2018-12-31,13072,203094,1.005229,15.617810,275.0,5009.0,0.034938,0.636387
36,2019-01-31,13308,211545,1.028757,16.353200,1660.0,13444.0,0.223509,1.810152
37,2019-02-28,306735,161595,30.584804,16.112773,1049.0,9653.0,0.183424,1.687882
38,2019-03-31,735565,176153,65.745888,15.744816,948.0,9711.0,0.160787,1.647049
39,2019-04-30,542832,121702,67.887944,15.220360,418.0,7942.0,0.098053,1.863007
40,2019-05-31,957964,245454,54.048973,13.848680,716.0,15681.0,0.066872,1.464556
41,2019-06-30,880865,209546,65.770552,15.645934,1711.0,17238.0,0.222815,2.244824
42,2019-07-31,1055445,222132,59.595991,12.542744,3066.0,18496.0,0.273872,1.652166
43,2019-08-31,2017727,448237,71.715905,15.931651,6454.0,45819.0,0.379625,2.695077
44,2019-09-30,1083021,209654,79.006493,15.294281,426.0,11632.0,0.050183,1.370244
45,2019-10-31,793705,160061,70.948869,14.307768,446.0,8395.0,0.067689,1.274093
46,2019-11-30,164354,187336,11.599548,13.221540,1031.0,17189.0,0.115687,1.928748
47,2019-12-31,11140,171683,1.002339,15.447454,979.0,11631.0,0.142941,1.698204
48,2020-01-31,49886,169803,5.037463,17.146622,1030.0,19220.0,0.176885,3.300704
49,2020-02-29,9816,139702,1.060845,15.098022,369.0,7080.0,0.067943,1.303627
50,2020-03-31,10314,113091,1.104401,12.109541,406.0,7620.0,0.075046,1.408503
51,2020-04-30,983,8552,1.086188,9.449724,-70.0,358.0,-0.142566,0.729124

In [12]:
files = ['DOTA2TOURN2016.csv','DOTA2TOURN2017.csv','DOTA2TOURN2018.csv','DOTA2TOURN2019.csv','DOTA2tourn2020.csv']
tournament_df = []
for onefile in files:
    temp_df = pd.read_csv(onefile, header = None)
    tournament_df.append(temp_df)

In [13]:
cleaned_df = []
for onedf in tournament_df:
    testdf = onedf[0].str.split(" - ",expand=True)
    startdf = testdf[0].str.split("-",expand=True)
    startdf = startdf.rename(columns={0: 'start_year', 1: 'start_month',2: 'start_day'})
    enddf = testdf[1].str.split("-",expand=True)
    enddf = enddf.rename(columns={0: 'end_year', 1: 'end_month',2: 'end_day'})
    cleaned_df.append(pd.concat([onedf, startdf, enddf], axis=1))
# test_df = tournament_df[0][0].str.split(" - ",expand=True)

In [14]:
# cleaned_df[0]
test2 = cleaned_df[0][['start_year','start_month']].agg('-'.join, axis=1)

In [15]:
df = []
for one in cleaned_df:
    test2 = one[['start_year','start_month']].agg('-'.join, axis=1)
    df.append(test2)

In [16]:
count = 0
for one in cleaned_df:
    one['end_date']=df[count]
    count+=1

In [43]:
gb_df = pd.concat([cleaned_df[0],cleaned_df[1],cleaned_df[2],cleaned_df[3],cleaned_df[4]])

In [44]:
gb_df.columns

Index([            0,             1,             2,  'start_year',
       'start_month',   'start_day',    'end_year',   'end_month',
           'end_day',    'end_date'],
      dtype='object')

In [45]:
gb_df = gb_df[[             1,             2,    'end_date']]
gb_df = gb_df.rename(columns={1:'tournament', 2 : 'price'}).reset_index()

In [46]:
gb_df = gb_df.drop(['index'], axis = 1)

In [47]:
price_df = gb_df['price'].str.split("$",expand=True)

In [48]:
gb_df = pd.concat([gb_df,price_df], axis = 1)

In [49]:
# gb_df = gb_df.drop([0, 'price'], axis = 1)
gb_df = gb_df.rename(columns={1:'pricenum'})

In [50]:
gb_df['price'] = gb_df['price'].apply(lambda x: x.replace('.00','')).apply(lambda x: x.replace(',',''))
# .astype('int32').replace(',','')
# gb_df = gb_df.drop(0,axis = 1)
gb_df

,tournament,price,end_date,0,pricenum
0,Dota2 Professional League Season 2,$800000,2016-09,,"800,000.00"
1,ProDotA Cup Americas,$35000,2016-01,,"35,000.00"
2,WellPlay Invitational,$20000,2016-03,,"20,000.00"
3,StarLadder ProSeries - Season 17,$2500,2016-12,,"2,500.00"
4,SEA Kappa Invitational Season 3,$10000,2016-11,,"10,000.00"
...,...,...,...,...,...
465,Hot Price League Season 1,$5000,2020-01,,"5,000.00"
466,WCAA 2020 International University Competition,$53946,2020-01,,"53,946.00"
467,OMG.BET Cup 2,$4000,2020-01,,"4,000.00"
468,WePlay! Bukovel Minor 2020,$600000,2020-01,,"600,000.00"
469,Maincast Winter Brawl,$25000,2019-12,,"25,000.00"

In [51]:
gb_df_copy = gb_df.copy()

In [53]:
for y in range(10,99):
    temp_replace = '.'+ str(y)
    gb_df_copy['price'] = gb_df_copy['price'].apply(lambda x: x.replace(temp_replace,''))
for y in range(1,9):
    temp_replace = '.0'+ str(y)
    gb_df_copy['price'] = gb_df_copy['price'].apply(lambda x: x.replace(temp_replace,''))
gb_df_copy

,tournament,price,end_date,0,pricenum
0,Dota2 Professional League Season 2,$800000,2016-09,,"800,000.00"
1,ProDotA Cup Americas,$35000,2016-01,,"35,000.00"
2,WellPlay Invitational,$20000,2016-03,,"20,000.00"
3,StarLadder ProSeries - Season 17,$2500,2016-12,,"2,500.00"
4,SEA Kappa Invitational Season 3,$10000,2016-11,,"10,000.00"
...,...,...,...,...,...
465,Hot Price League Season 1,$5000,2020-01,,"5,000.00"
466,WCAA 2020 International University Competition,$53946,2020-01,,"53,946.00"
467,OMG.BET Cup 2,$4000,2020-01,,"4,000.00"
468,WePlay! Bukovel Minor 2020,$600000,2020-01,,"600,000.00"
469,Maincast Winter Brawl,$25000,2019-12,,"25,000.00"

In [54]:
gb_df_copy['price'] = gb_df_copy['price'].apply(lambda x: x.replace('$',''))
gb_df_copy

,tournament,price,end_date,0,pricenum
0,Dota2 Professional League Season 2,800000,2016-09,,"800,000.00"
1,ProDotA Cup Americas,35000,2016-01,,"35,000.00"
2,WellPlay Invitational,20000,2016-03,,"20,000.00"
3,StarLadder ProSeries - Season 17,2500,2016-12,,"2,500.00"
4,SEA Kappa Invitational Season 3,10000,2016-11,,"10,000.00"
...,...,...,...,...,...
465,Hot Price League Season 1,5000,2020-01,,"5,000.00"
466,WCAA 2020 International University Competition,53946,2020-01,,"53,946.00"
467,OMG.BET Cup 2,4000,2020-01,,"4,000.00"
468,WePlay! Bukovel Minor 2020,600000,2020-01,,"600,000.00"
469,Maincast Winter Brawl,25000,2019-12,,"25,000.00"

In [56]:
gb_df_copy['price'] = gb_df_copy['price'].astype(int)
gb_df_copy

,tournament,price,end_date,0,pricenum
0,Dota2 Professional League Season 2,800000,2016-09,,"800,000.00"
1,ProDotA Cup Americas,35000,2016-01,,"35,000.00"
2,WellPlay Invitational,20000,2016-03,,"20,000.00"
3,StarLadder ProSeries - Season 17,2500,2016-12,,"2,500.00"
4,SEA Kappa Invitational Season 3,10000,2016-11,,"10,000.00"
...,...,...,...,...,...
465,Hot Price League Season 1,5000,2020-01,,"5,000.00"
466,WCAA 2020 International University Competition,53946,2020-01,,"53,946.00"
467,OMG.BET Cup 2,4000,2020-01,,"4,000.00"
468,WePlay! Bukovel Minor 2020,600000,2020-01,,"600,000.00"
469,Maincast Winter Brawl,25000,2019-12,,"25,000.00"

In [57]:
gb_df_copy = gb_df_copy.drop([0,'pricenum'],axis = 1)
gb_df_copy

                                         tournament   price end_date
0                Dota2 Professional League Season 2  800000  2016-09
1                              ProDotA Cup Americas   35000  2016-01
2                             WellPlay Invitational   20000  2016-03
3                  StarLadder ProSeries - Season 17    2500  2016-12
4                   SEA Kappa Invitational Season 3   10000  2016-11
..                                              ...     ...      ...
465                       Hot Price League Season 1    5000  2020-01
466  WCAA 2020 International University Competition   53946  2020-01
467                                   OMG.BET Cup 2    4000  2020-01
468                      WePlay! Bukovel Minor 2020  600000  2020-01
469                           Maincast Winter Brawl   25000  2019-12

[470 rows x 3 columns]

In [61]:
final_gbdf = gb_df_copy.groupby(['end_date']).sum()
final_gbdf

             price
end_date
2015-09      10000
2015-10       4000
2015-11      75763
2015-12     277350
2016-01     659671
2016-02      28489
2016-03    3583351
2016-04     664869
2016-05     812207
2016-06    3396547
2016-07    1069136
2016-08   20923758
2016-09    1221331
2016-10     470993
2016-11     465352
2016-12    3879513
2017-01    1927956
2017-02     401832
2017-03     759865
2017-04    3093686
2017-05     724785
2017-06     818266
2017-07     639416
2017-08   24800249
2017-09     410983
2017-10    3418583
2017-11    1581374
2017-12    3234564
2018-01    2146454
2018-02    2759886
2018-03    5921642
2018-04    2738420
2018-05    4742683
2018-06    1556345
2018-07     150556
2018-08   25566711
2018-09     141694
2018-10    1632145
2018-11    1095595
2018-12     648202
2019-01    1744907
2019-02     903717
2019-03    3544551
2019-04    1209114
2019-05    2628343
2019-06    2960515
2019-07     354827
2019-08   34470033
2019-09     337278
2019-10     957781
2019-11    1805084
2019-12     630308
2020-01    1749442
2020-02     439339
2020-03     481090

In [62]:
final_gbdf = final_gbdf.reset_index()

In [63]:
dates=[]
from datetime import datetime
for x in final_gbdf['end_date']:
    dates.append(datetime.strptime(x, '%Y-%m'))
    
# final_gbdf['Month'] = datetime.strptime(final_gbdf['end_date'], '%Y-%m')

In [64]:
final_gbdf['Month'] = dates

In [65]:
final_gbdf = final_gbdf.drop('end_date', axis = 1)

In [66]:
final_gbdf

       price      Month
0      10000 2015-09-01
1       4000 2015-10-01
2      75763 2015-11-01
3     277350 2015-12-01
4     659671 2016-01-01
5      28489 2016-02-01
6    3583351 2016-03-01
7     664869 2016-04-01
8     812207 2016-05-01
9    3396547 2016-06-01
10   1069136 2016-07-01
11  20923758 2016-08-01
12   1221331 2016-09-01
13    470993 2016-10-01
14    465352 2016-11-01
15   3879513 2016-12-01
16   1927956 2017-01-01
17    401832 2017-02-01
18    759865 2017-03-01
19   3093686 2017-04-01
20    724785 2017-05-01
21    818266 2017-06-01
22    639416 2017-07-01
23  24800249 2017-08-01
24    410983 2017-09-01
25   3418583 2017-10-01
26   1581374 2017-11-01
27   3234564 2017-12-01
28   2146454 2018-01-01
29   2759886 2018-02-01
30   5921642 2018-03-01
31   2738420 2018-04-01
32   4742683 2018-05-01
33   1556345 2018-06-01
34    150556 2018-07-01
35  25566711 2018-08-01
36    141694 2018-09-01
37   1632145 2018-10-01
38   1095595 2018-11-01
39    648202 2018-12-01
40   1744907 2019-01-01
41    903717 2019-02-01
42   3544551 2019-03-01
43   1209114 2019-04-01
44   2628343 2019-05-01
45   2960515 2019-06-01
46    354827 2019-07-01
47  34470033 2019-08-01
48    337278 2019-09-01
49    957781 2019-10-01
50   1805084 2019-11-01
51    630308 2019-12-01
52   1749442 2020-01-01
53    439339 2020-02-01
54    481090 2020-03-01

In [68]:
dates=[]
from datetime import datetime, timedelta
for x in reddit_df['Month']:
    dates.append(datetime.strptime(x, '%Y-%m-%d')+ timedelta(days=1))

In [69]:
reddit_df['Month']= dates

In [70]:
reddit_df

,Month,score_sum,num comments_sum,score_mean,num comments_mean,afinn_score_title_sum,afinn_score_text_sum,afinn_score_title_mean,afinn_score_text_mean
0,2016-02-01,699564,352982,31.701817,15.995922,1886.0,16158.0,0.117963,1.010633
1,2016-03-01,743728,347294,35.885549,16.757250,942.0,13410.0,0.062938,0.895971
2,2016-04-01,859074,391767,36.269273,16.540024,2008.0,18933.0,0.114625,1.080774
3,2016-05-01,786621,365690,33.911924,15.765218,2599.0,18593.0,0.149351,1.068440
4,2016-06-01,845393,363461,35.204173,15.135379,2337.0,16444.0,0.127322,0.895887
5,2016-07-01,958856,436017,33.242823,15.116385,5471.0,27925.0,0.254264,1.297811
6,2016-08-01,706553,323554,32.982588,15.103819,3201.0,23577.0,0.203976,1.502390
7,2016-09-01,1291536,546086,34.796347,14.712558,7744.0,34198.0,0.276739,1.222099
8,2016-10-01,807177,312634,40.214079,15.575628,2436.0,12224.0,0.167676,0.841410
9,2016-11-01,951449,317146,43.920463,14.639985,1339.0,16198.0,0.086060,1.041069
10,2016-12-01,773676,255775,47.604972,15.738063,2157.0,15751.0,0.192917,1.408729
11,2017-01-01,1432586,403745,37.565188,10.586978,3449.0,27252.0,0.121234,0.957925
12,2017-02-01,852871,277721,43.332537,14.110405,1362.0,9406.0,0.096180,0.664219
13,2017-03-01,665286,207339,43.265006,13.483709,1590.0,9064.0,0.146842,0.837089
14,2017-04-01,793611,252409,45.562694,14.491273,1797.0,10210.0,0.148011,0.840952
15,2017-05-01,859251,285348,47.654096,15.825412,1981.0,11353.0,0.159655,0.914974
16,2017-06-01,1168329,330772,49.932858,14.136764,2280.0,17036.0,0.136486,1.019814
17,2017-07-01,923993,286810,47.376968,14.705943,2154.0,13592.0,0.155501,0.981230
18,2017-08-01,975742,275747,52.974754,14.970791,2474.0,15840.0,0.191649,1.227051
19,2017-09-01,1611741,479146,53.466280,15.894709,6465.0,30736.0,0.311942,1.483040
20,2017-10-01,847022,239036,61.302888,17.300138,1394.0,9865.0,0.157942,1.117720
21,2017-11-01,987347,271155,57.244144,15.720953,2080.0,11180.0,0.183551,0.986587
22,2017-12-01,1157795,292998,59.343670,15.017837,2879.0,15287.0,0.220174,1.169088
23,2018-01-01,763335,215946,54.426738,15.397219,2003.0,11395.0,0.233124,1.326234
24,2018-02-01,787617,257003,55.859362,18.227163,1143.0,12265.0,0.130019,1.395177
25,2018-03-01,736921,242075,57.081410,18.750968,1178.0,13581.0,0.145038,1.672125
26,2018-04-01,1001330,280302,57.917173,16.212736,2308.0,19258.0,0.202812,1.692267
27,2018-05-01,906155,267995,63.670250,18.830453,1681.0,11375.0,0.192797,1.304622
28,2018-06-01,1233364,317234,53.217294,13.688039,1435.0,18669.0,0.094788,1.233173
29,2018-07-01,1133516,338133,53.266729,15.889709,3566.0,23606.0,0.251021,1.661692
30,2018-08-01,851574,235109,50.547516,13.955541,3003.0,10858.0,0.279635,1.011081
31,2018-09-01,1397746,451371,48.378305,15.622698,6741.0,34711.0,0.361642,1.862178
32,2018-10-01,843534,222839,63.543051,16.786365,1868.0,11046.0,0.229146,1.355005
33,2018-11-01,11661,182009,1.000772,15.620409,945.0,7827.0,0.146014,1.209363
34,2018-12-01,17740,280324,1.024486,16.188727,341.0,7787.0,0.033346,0.761490
35,2019-01-01,13072,203094,1.005229,15.617810,275.0,5009.0,0.034938,0.636387
36,2019-02-01,13308,211545,1.028757,16.353200,1660.0,13444.0,0.223509,1.810152
37,2019-03-01,306735,161595,30.584804,16.112773,1049.0,9653.0,0.183424,1.687882
38,2019-04-01,735565,176153,65.745888,15.744816,948.0,9711.0,0.160787,1.647049
39,2019-05-01,542832,121702,67.887944,15.220360,418.0,7942.0,0.098053,1.863007
40,2019-06-01,957964,245454,54.048973,13.848680,716.0,15681.0,0.066872,1.464556
41,2019-07-01,880865,209546,65.770552,15.645934,1711.0,17238.0,0.222815,2.244824
42,2019-08-01,1055445,222132,59.595991,12.542744,3066.0,18496.0,0.273872,1.652166
43,2019-09-01,2017727,448237,71.715905,15.931651,6454.0,45819.0,0.379625,2.695077
44,2019-10-01,1083021,209654,79.006493,15.294281,426.0,11632.0,0.050183,1.370244
45,2019-11-01,793705,160061,70.948869,14.307768,446.0,8395.0,0.067689,1.274093
46,2019-12-01,164354,187336,11.599548,13.221540,1031.0,17189.0,0.115687,1.928748
47,2020-01-01,11140,171683,1.002339,15.447454,979.0,11631.0,0.142941,1.698204
48,2020-02-01,49886,169803,5.037463,17.146622,1030.0,19220.0,0.176885,3.300704
49,2020-03-01,9816,139702,1.060845,15.098022,369.0,7080.0,0.067943,1.303627
50,2020-04-01,10314,113091,1.104401,12.109541,406.0,7620.0,0.075046,1.408503
51,2020-05-01,983,8552,1.086188,9.449724,-70.0,358.0,-0.142566,0.729124

In [4]:
import requests
url = "https://steamcharts.com/app/570"
r = requests.get(url).content
new = pd.read_html(r)
new[0]

             Month  Avg. Players       Gain   % Gain  Peak Players
0     Last 30 Days     455096.19   +17948.8   +4.11%        763087
1       March 2020     437147.36   31168.71   +7.68%        743933
2    February 2020     405978.65   27053.22   +7.14%        663812
3     January 2020     378925.43   -5254.32   -1.37%        616415
4    December 2019     384179.76  -17752.05   -4.42%        685165
..             ...           ...        ...      ...           ...
89   November 2012     101077.43   25111.99  +33.06%        169631
90    October 2012      75965.44   14097.77  +22.79%        171860
91  September 2012      61867.68    6099.07  +10.94%        118724
92     August 2012      55768.61    3047.56   +5.78%        108689
93       July 2012      52721.05          -        -         75041

[94 rows x 5 columns]

In [72]:
new = new[0].iloc[1:]

In [73]:
new

             Month  Avg. Players       Gain   % Gain  Peak Players
1       March 2020     437147.36   31168.71   +7.68%        743933
2    February 2020     405978.65   27053.22   +7.14%        663812
3     January 2020     378925.43   -5254.32   -1.37%        616415
4    December 2019     384179.76  -17752.05   -4.42%        685165
5    November 2019     401931.80   13575.94   +3.50%        708517
..             ...           ...        ...      ...           ...
89   November 2012     101077.43   25111.99  +33.06%        169631
90    October 2012      75965.44   14097.77  +22.79%        171860
91  September 2012      61867.68    6099.07  +10.94%        118724
92     August 2012      55768.61    3047.56   +5.78%        108689
93       July 2012      52721.05          -        -         75041

[93 rows x 5 columns]

In [75]:
dates=[]
for x in new['Month']:
    dates.append(datetime.strptime(x, '%B %Y'))

In [77]:
new['Month']= dates
new = new.sort_values(by=['Month'])

C:\Users\luico\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [80]:
new= new[['Month','Avg. Players','Peak Players']]
new = new[40:]

        Month  Avg. Players  Peak Players
53 2015-11-01     539536.33        943635
52 2015-12-01     573344.25        999452
51 2016-01-01     612174.78       1067949
50 2016-02-01     709178.26       1248394
49 2016-03-01     672554.89       1291328
48 2016-04-01     656944.37       1164041
47 2016-05-01     623798.67       1075307
46 2016-06-01     640226.98       1095994
45 2016-07-01     638212.65       1084198
44 2016-08-01     666013.05       1117519
43 2016-09-01     622583.90       1064377
42 2016-10-01     639355.14       1141191
41 2016-11-01     584251.33       1007270
40 2016-12-01     593920.60       1014671
39 2017-01-01     580281.47       1007451
38 2017-02-01     591567.25       1040877
37 2017-03-01     548435.44        956232
36 2017-04-01     540278.03        921318
35 2017-05-01     567526.42        972876
34 2017-06-01     555289.07        923122
33 2017-07-01     498444.38        824297
32 2017-08-01     556496.30        876395
31 2017-09-01     491450.16        829555
30 2017-10-01     466126.79        832550
29 2017-11-01     487381.24        861173
28 2017-12-01     513074.33        864939
27 2018-01-01     486861.91        778627
26 2018-02-01     438847.72        779299
25 2018-03-01     437262.35        773897
24 2018-04-01     430340.94        733214
23 2018-05-01     474325.87        844713
22 2018-06-01     473900.00        796886
21 2018-07-01     441714.35        701582
20 2018-08-01     476101.08        829281
19 2018-09-01     466470.74        826166
18 2018-10-01     431173.91        739643
17 2018-11-01     461073.48        826053
16 2018-12-01     439367.83        765422
15 2019-01-01     475747.00        874888
14 2019-02-01     564909.67        964921
13 2019-03-01     586505.85       1033925
12 2019-04-01     520218.98        971545
11 2019-05-01     548523.18        997341
10 2019-06-01     507528.44        865374
9  2019-07-01     464787.61        779160
8  2019-08-01     467148.29        826690
7  2019-09-01     421971.24        753996
6  2019-10-01     388355.86        739924
5  2019-11-01     401931.80        708517
4  2019-12-01     384179.76        685165
3  2020-01-01     378925.43        616415
2  2020-02-01     405978.65        663812
1  2020-03-01     437147.36        743933

In [81]:
steam_players_df = new
merged_df = final_gbdf.set_index('Month').join(twitch_df.set_index('Month')).join(reddit_df.set_index('Month')).join(steam_players_df.set_index('Month'))
merged_df

,price,Avg. viewers,Peak_viewers,Avg. channels,Peak_channels,Hours watched,score_sum,num comments_sum,score_mean,num comments_mean,afinn_score_title_sum,afinn_score_text_sum,afinn_score_title_mean,afinn_score_text_mean,Avg. Players,Peak Players
Month,,,,,,,,,,,,,,,,
2015-09-01,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-10-01,4000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-11-01,75763,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,539536.33,943635.0
2015-12-01,277350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,573344.25,999452.0
2016-01-01,659671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,612174.78,1067949.0
2016-02-01,28489,NaN,NaN,NaN,NaN,NaN,699564.0,352982.0,31.701817,15.995922,1886.0,16158.0,0.117963,1.010633,709178.26,1248394.0
2016-03-01,3583351,NaN,NaN,NaN,NaN,NaN,743728.0,347294.0,35.885549,16.757250,942.0,13410.0,0.062938,0.895971,672554.89,1291328.0
2016-04-01,664869,NaN,NaN,NaN,NaN,NaN,859074.0,391767.0,36.269273,16.540024,2008.0,18933.0,0.114625,1.080774,656944.37,1164041.0
2016-05-01,812207,NaN,NaN,NaN,NaN,NaN,786621.0,365690.0,33.911924,15.765218,2599.0,18593.0,0.149351,1.068440,623798.67,1075307.0
2016-06-01,3396547,NaN,NaN,NaN,NaN,NaN,845393.0,363461.0,35.204173,15.135379,2337.0,16444.0,0.127322,0.895887,640226.98,1095994.0
2016-07-01,1069136,NaN,NaN,NaN,NaN,NaN,958856.0,436017.0,33.242823,15.116385,5471.0,27925.0,0.254264,1.297811,638212.65,1084198.0
2016-08-01,20923758,NaN,NaN,NaN,NaN,NaN,706553.0,323554.0,32.982588,15.103819,3201.0,23577.0,0.203976,1.502390,666013.05,1117519.0
2016-09-01,1221331,NaN,NaN,NaN,NaN,NaN,1291536.0,546086.0,34.796347,14.712558,7744.0,34198.0,0.276739,1.222099,622583.90,1064377.0
2016-10-01,470993,NaN,NaN,NaN,NaN,NaN,807177.0,312634.0,40.214079,15.575628,2436.0,12224.0,0.167676,0.841410,639355.14,1141191.0
2016-11-01,465352,NaN,NaN,NaN,NaN,NaN,951449.0,317146.0,43.920463,14.639985,1339.0,16198.0,0.086060,1.041069,584251.33,1007270.0
2016-12-01,3879513,60318.0,429880.0,406.0,816.0,44697603.0,773676.0,255775.0,47.604972,15.738063,2157.0,15751.0,0.192917,1.408729,593920.60,1014671.0
2017-01-01,1927956,52609.0,231683.0,485.0,864.0,38999161.0,1432586.0,403745.0,37.565188,10.586978,3449.0,27252.0,0.121234,0.957925,580281.47,1007451.0
2017-02-01,401832,47704.0,218283.0,486.0,1063.0,32032305.0,852871.0,277721.0,43.332537,14.110405,1362.0,9406.0,0.096180,0.664219,591567.25,1040877.0
2017-03-01,759865,51574.0,326837.0,447.0,1228.0,38351474.0,665286.0,207339.0,43.265006,13.483709,1590.0,9064.0,0.146842,0.837089,548435.44,956232.0
2017-04-01,3093686,68133.0,671789.0,395.0,923.0,48683087.0,793611.0,252409.0,45.562694,14.491273,1797.0,10210.0,0.148011,0.840952,540278.03,921318.0
2017-05-01,724785,46633.0,214920.0,423.0,866.0,33749481.0,859251.0,285348.0,47.654096,15.825412,1981.0,11353.0,0.159655,0.914974,567526.42,972876.0
2017-06-01,818266,57690.0,337997.0,422.0,933.0,41510311.0,1168329.0,330772.0,49.932858,14.136764,2280.0,17036.0,0.136486,1.019814,555289.07,923122.0
2017-07-01,639416,32759.0,111086.0,433.0,829.0,24348583.0,923993.0,286810.0,47.376968,14.705943,2154.0,13592.0,0.155501,0.981230,498444.38,824297.0
2017-08-01,24800249,78716.0,845791.0,408.0,704.0,58528314.0,975742.0,275747.0,52.974754,14.970791,2474.0,15840.0,0.191649,1.227051,556496.30,876395.0
2017-09-01,410983,40339.0,205329.0,419.0,718.0,29037850.0,1611741.0,479146.0,53.466280,15.894709,6465.0,30736.0,0.311942,1.483040,491450.16,829555.0
2017-10-01,3418583,42529.0,282651.0,424.0,752.0,31625324.0,847022.0,239036.0,61.302888,17.300138,1394.0,9865.0,0.157942,1.117720,466126.79,832550.0
2017-11-01,1581374,55039.0,226905.0,476.0,829.0,39570151.0,987347.0,271155.0,57.244144,15.720953,2080.0,11180.0,0.183551,0.986587,487381.24,861173.0
2017-12-01,3234564,43441.0,293382.0,487.0,815.0,32298741.0,1157795.0,292998.0,59.343670,15.017837,2879.0,15287.0,0.220174,1.169088,513074.33,864939.0
2018-01-01,2146454,41604.0,180197.0,551.0,912.0,30943285.0,763335.0,215946.0,54.426738,15.397219,2003.0,11395.0,0.233124,1.326234,486861.91,778627.0
2018-02-01,2759886,49001.0,292301.0,573.0,964.0,32880473.0,787617.0,257003.0,55.859362,18.227163,1143.0,12265.0,0.130019,1.395177,438847.72,779299.0
2018-03-01,5921642,53629.0,397089.0,566.0,1483.0,39900000.0,736921.0,242075.0,57.081410,18.750968,1178.0,13581.0,0.145038,1.672125,437262.35,773897.0
2018-04-01,2738420,55829.0,312498.0,558.0,1392.0,40125538.0,1001330.0,280302.0,57.917173,16.212736,2308.0,19258.0,0.202812,1.692267,430340.94,733214.0
2018-05-01,4742683,52547.0,358946.0,574.0,1210.0,39073653.0,906155.0,267995.0,63.670250,18.830453,1681.0,11375.0,0.192797,1.304622,474325.87,844713.0
2018-06-01,1556345,66796.0,356896.0,584.0,1125.0,48087838.0,1233364.0,317234.0,53.217294,13.688039,1435.0,18669.0,0.094788,1.233173,473900.00,796886.0
2018-07-01,150556,38962.0,151364.0,592.0,1070.0,28414778.0,1133516.0,338133.0,53.266729,15.889709,3566.0,23606.0,0.251021,1.661692,441714.35,701582.0
2018-08-01,25566711,93969.0,776473.0,591.0,1111.0,69729072.0,851574.0,235109.0,50.547516,13.955541,3003.0,10858.0,0.279635,1.011081,476101.08,829281.0
2018-09-01,141694,41307.0,161992.0,599.0,1272.0,29725455.0,1397746.0,451371.0,48.378305,15.622698,6741.0,34711.0,0.361642,1.862178,466470.74,826166.0
2018-10-01,1632145,47343.0,218915.0,607.0,1306.0,35160316.0,843534.0,222839.0,63.543051,16.786365,1868.0,11046.0,0.229146,1.355005,431173.91,739643.0
2018-11-01,1095595,64056.0,446424.0,644.0,1334.0,46120872.0,11661.0,182009.0,1.000772,15.620409,945.0,7827.0,0.146014,1.209363,461073.48,826053.0
2018-12-01,648202,44288.0,256425.0,626.0,1319.0,32950296.0,17740.0,280324.0,1.024486,16.188727,341.0,7787.0,0.033346,0.761490,439367.83,765422.0
2019-01-01,1744907,62537.0,444684.0,735.0,1455.0,46527600.0,13072.0,203094.0,1.005229,15.617810,275.0,5009.0,0.034938,0.636387,475747.00,874888.0
2019-02-01,903717,74876.0,272704.0,786.0,1606.0,50317296.0,13308.0,211545.0,1.028757,16.353200,1660.0,13444.0,0.223509,1.810152,564909.67,964921.0
2019-03-01,3544551,67497.0,356083.0,757.0,1473.0,50174147.0,306735.0,161595.0,30.584804,16.112773,1049.0,9653.0,0.183424,1.687882,586505.85,1033925.0
2019-04-01,1209114,41030.0,151550.0,626.0,1330.0,29541894.0,735565.0,176153.0,65.745888,15.744816,948.0,9711.0,0.160787,1.647049,520218.98,971545.0
2019-05-01,2628343,62777.0,408908.0,660.0,1257.0,46677235.0,542832.0,121702.0,67.887944,15.220360,418.0,7942.0,0.098053,1.863007,548523.18,997341.0
2019-06-01,2960515,59719.0,488088.0,612.0,1122.0,42997893.0,957964.0,245454.0,54.048973,13.848680,716.0,15681.0,0.066872,1.464556,507528.44,865374.0
2019-07-01,354827,55064.0,278633.0,620.0,1078.0,40956300.0,880865.0,209546.0,65.770552,15.645934,1711.0,17238.0,0.222815,2.244824,464787.61,779160.0
2019-08-01,34470033,95319.0,1041033.0,655.0,1171.0,70917942.0,1055445.0,222132.0,59.595991,12.542744,3066.0,18496.0,0.273872,1.652166,467148.29,826690.0
2019-09-01,337278,35933.0,127276.0,624.0,1273.0,25866572.0,2017727.0,448237.0,71.715905,15.931651,6454.0,45819.0,0.379625,2.695077,421971.24,753996.0
2019-10-01,957781,40409.0,176611.0,605.0,1215.0,28948981.0,1083021.0,209654.0,79.006493,15.294281,426.0,11632.0,0.050183,1.370244,388355.86,739924.0
2019-11-01,1805084,48397.0,243245.0,595.0,1273.0,33755989.0,793705.0,160061.0,70.948869,14.307768,446.0,8395.0,0.067689,1.274093,401931.80,708517.0
2019-12-01,630308,46050.0,204145.0,564.0,1068.0,34215092.0,164354.0,187336.0,11.599548,13.221540,1031.0,17189.0,0.115687,1.928748,384179.76,685165.0
2020-01-01,1749442,59260.0,368113.0,594.0,1056.0,44089989.0,11140.0,171683.0,1.002339,15.447454,979.0,11631.0,0.142941,1.698204,378925.43,616415.0
2020-02-01,439339,50361.0,236728.0,628.0,1182.0,34990696.0,49886.0,169803.0,5.037463,17.146622,1030.0,19220.0,0.176885,3.300704,405978.65,663812.0
2020-03-01,481090,56289.0,166092.0,732.0,1485.0,41805652.0,9816.0,139702.0,1.060845,15.098022,369.0,7080.0,0.067943,1.303627,437147.36,743933.0

In [82]:
merged_df.to_csv('Dota2_final_df.csv')